@font-face {
    font-family: 'robotobold';
    src        : url('../fonts/Roboto-Bold-webfont.eot');
    src        : url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style : normal;
}
@font-face {
    font-family: 'robotomedium';
    src        : url('../fonts/Roboto-Medium-webfont.eot');
    src        : url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium-webfont.woff2') format('woff2'), url('../fonts/Roboto-Medium-webfont.woff') format('woff'), url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style : normal;
}
@font-face {
    font-family: 'robotolight';
    src        : url('../fonts/Roboto-Light-webfont.eot');
    src        : url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.woff2') format('woff2'), url('../fonts/Roboto-Light-webfont.woff') format('woff'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style : normal;
}
@font-face {
    font-family: 'robotothin';
    src        : url('../fonts/Roboto-Thin-webfont.eot');
    src        : url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin-webfont.woff2') format('woff2'), url('../fonts/Roboto-Thin-webfont.woff') format('woff'), url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'), url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style : normal;
}
@font-face {
    font-family: 'sosa-regular';
    src        : url('../fonts/sosa-regular-webfont.eot');
    src        : url('../fonts/sosa-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sosa-regular-webfont.woff') format('woff'), url('../fonts/sosa-regular-webfont.ttf') format('truetype'), url('../fonts/sosa-regular-webfont.svg#sosa') format('svg');
    font-weight: normal;
    font-style : normal;
}

html, body {
    height: 100%;
}


/*-------------------------------*/
/* override stili bootstrap      */
/*-------------------------------*/
.btn.with-icon {
    border-radius: 0;
    &:first-of-type {
        border-left: none;
    }
    &:last-of-type {
        border-right: none;
    }
    @media (max-width: $screen-xl ) {
        font-size: 15px;
    }
    @media (max-width: $screen-lg ) {
        font-size: 0;
        .icon {
            font-size: 20px;
        }
    }
    @media (max-width: $screen-md ) {
        font-size: 15px;
    }
    @media (max-width: $screen-sm ) {
        padding  : 5px 0;
        font-size: 0;
        .icon {
            font-size: 20px;
        }
    }


}

// @media (max-width: $screen-lg) {
//
//   [class*="col-"]{
//       margin-bottom: 30px;
//   }
//
// }
.row.no-gutters {
    margin-right: 0;
    margin-left : 0;
    width: 100%;
    & > [class*=" col-"],
    & > [class^="col-"] {
        padding-right: 0;
        padding-left : 0;
    }
}
.row.row-eq-height {
    display: flex;
    flex-direction: row /*| row-reverse | column | column-reverse*/;
    justify-content: space-between /*flex-start | flex-end | center | space-between | space-around*/;
}
/*-------------------------------*/
/* inizio customizzazioni layout */
/*-------------------------------*/
html {
    padding    : 0;
    font-family: "robotothin",Helvetica,sans-serif;
    @media (min-width: $screen-sm) {
        margin     : 0 20px;
    }
}
body {
    -webkit-font-smoothing: antialiased;
    background            : $body-color;
    // margin: 0;
    // padding: 40px 0;
    // font-family: "robotothin",Helvetica,sans-serif;
    // font-size: 12px;
    // font-size: 0.75rem;
    // color: #fff;
    text-align            : center;
    padding-top           : $navbar-height;
}

.theme-dropdown .dropdown-menu {
    position     : static;
    display      : block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.splash .content {
    height: 100%;
}

.splash-logo {
    display    : block;
    width: auto;
    height: auto;
    position   : fixed;
    left       : 50%;
    margin-left: -(835px / 2);
    margin-top: 150px;
    h1 {
        display            : block;
        width              : 835px;
        height             : 485px;
        @include img-retina("../images/splash-logo.png", "../images/splash-logo@2x.png", 417.5px, 242.5px);
        background-position: center top;
        background-repeat  : no-repeat;
        background-size: cover;
        @extend .text-hide;
    }
}
@media (max-width: $screen-md) {
    .splash-logo {
        margin-left: -(835px / 4);
        h1 {
            width              : (835px / 2);
            height             : (485px / 2);
            @include img-retina("../images/splash-logo.png", "../images/splash-logo@2x.png", 417.5px, 242.5px);
        }
    }
}
/*-------------------------------*/
/*  Header                       */
/*-------------------------------*/
.navbar-inverse {
    border: none;
    @media (min-width: $screen-sm) {
        margin     : 0 20px;
    }
}

/* header logo */
.header-logo {
    @extend .navbar-brand;
    @extend .text-hide;
    @include img-retina("../images/logo.png", "../images/logo@2x.png", 32px, 26px);
    background-repeat  : no-repeat;
    background-position: center center;
    width              : 154px;
    margin             : 0 !important;
    // height: 73px;
}

@media (max-width: $screen-md) {
    .splash-logo {
        margin-left: -(835px / 4);
        h1 {
            width              : (835px / 2);
            height             : (485px / 2);
            @include img-retina("../images/splash-logo.png", "../images/splash-logo@2x.png", 417.5px, 242.5px);
        }
    }
}
/* nav */

.nav > li.nav-iconitem > a {
    display: inline-block;
}

.nav > li.nav-iconitem > a.nav-iconitem__icon {
    @extend .text-hide;
    @extend .navbar-brand;
    margin             : 0 !important;
    width              : $navbar-height;
    border-left        : solid 2px $content-color;
    background-position: center center;
    background-repeat  : no-repeat;
}

@media (max-width: $screen-sm) {
    .nav > li.nav-iconitem > a.nav-iconitem__icon, .nav > li.nav-user > a {
        font-size: 1em;
        padding-top:    10px;
        padding-bottom: 10px;
        padding-left: 60px;
        line-height: $line-height-computed;
        font-family: inherit;
        width: auto;
        border: none;
        display: block;
        float: none;
        background-position: 15px center;
        text-align: left;
        height :auto;
        border-top: solid 1px rgba(255,255,255,.2);
        border-bottom: solid 1px rgba(0,0,0,.2)
    }
    .nav > li.nav-iconitem > a.nav-iconitem__icon:hover, .nav > li.nav-user > a:hover {
        background-color: rgba(255,255,255,.2) !important;
    }
}

/* @group icone Knauf */

@import "icon-custom";

/* @end icone Knauf */

/*-------------------------------*/
/*  @group Contenitore generale  */
/*-------------------------------*/
/* @group Stili ed elementi content */
.content {
    background: $content-color;
    padding   : 15px 0;
    // min-height: 800px;
}

.overlay {
    // per la finta modale
    position        : fixed;
    z-index         : 1031;
    background-color: rgba($body-color, .5);
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
}
/* @end Stili ed elementi content */
/*-------------------------------*/
/*  @end contenitore generale  */
/*-------------------------------*/
/*--------------------------------*/
/* @group Struttura catalogo */
/*--------------------------------*/

/* @group Lista principale (col sx)  */
.cat-list-title {
    text-transform: uppercase;
    color         : $body-color;
    padding       : 10px 0;
    margin        : 0;
    background    : #efefef;
}
/* @group Tabs categorie */
.cat-list-icon {
    border-bottom   : none;
    padding-top     : 0;
    background-color: $sub-content-color;
}

.tabs-left.cat-list-icon {
    border-right: 1px solid $content-color;
}

// .tabs-right.cat-list-icon {
//     border-left: 1px solid $content-color;
// }

.tabs-left > li {
    float        : none;
    margin-bottom: 0;
}

.tabs-left > li {
    margin-right: -1px;
}

// .tabs-right > li {
//     margin-left: -1px;
// }

.tabs-left.cat-list-icon > li:not(.active) > a:focus,
.tabs-left.cat-list-icon > li:not(.active) > a:hover {
    border-color: $content-color;
    background-color   : $body-color;
}

.tabs-left.cat-list-icon > li.active > a,
.tabs-left.cat-list-icon > li.active > a:focus,
.tabs-left.cat-list-icon > li.active > a:hover {
    border-top         : none;
    border-bottom-color: $content-color;
    border-right-color : transparent;
    border-left-color  : transparent;
    border-top-color   : $content-color;
    background-color   : $body-color;
    color              : $content-color;
}

.tabs-left.cat-list-icon > li:not(.active) > a:focus,
.tabs-left.cat-list-icon > li:not(.active) > a:hover {
    border-color: $content-color;
    background-color   : $body-color;
}


// .tabs-right.cat-list-icon > li.active > a,
// .tabs-right.cat-list-icon > li.active > a:focus,
// .tabs-right.cat-list-icon > li.active > a:hover {
//     border-bottom    : 1px solid $content-color;
//     border-left-color: transparent;
// }

.tabs-left {
    > li {
        > a {
            border-radius: 0;
            margin-right : 0;
            padding      : 20px;
            display      : block;
            border-bottom: 1px solid $content-color;
        }
    }
}

.main, .secondary {
    > li {
        > a {
            padding-left: 100px;
        }
    }
}

.tabs-right > li > a {
    border-radius: 0 0;
    margin-right : 0;
}
/* @end Tabs categorie */
/* @group Lista catalogo */

// setto la struttura  del tab  verticale a dimensine fissa
.fixed-width {
    width: 75px;
    float: left;
}

.row-fluid {
    margin-left       : 75px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

// stilizzo i tab e i contenuti del catalogo

.action {
    position    : relative;
    > a:not(.action-link) {
        margin-right: 60px;
    }
    .action-link {
        position           : absolute;
        top                : 0;
        right              : 1px;
        background-color   : $sub-content-color;
        padding            : 17px 20px;
        border-bottom-color: $content-color;
        height: 100%;
    }
    span.fa {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        right: 80px;
        font-size: 1.2em;
        border: none;
    }
}

.cat-list {
    border    : none;
    text-align: left;
    border-right: solid 1px $gray-lighter;
    > li {
        i {
            position        : absolute;
            top             : -1px;
            left            : -1px;
            bottom          : -1px;
            background-color: $sub-content-color;
            border-bottom   : solid 1px $content-color;
            padding         : 0 35px;
            height          : 102.5%;
        }
        > a:not(.action-link) {
            border-bottom: solid 1px $gray-lighter;
            padding-right: 70px;
        }
        > a.action-link span {
            position: relative;
            display: block;
            top: 50%;
            margin-top: -.8em
        }
        > a {
            border-bottom: solid 1px $gray-lighter;
        }
    }

    // differenzio le voci delle categorie secondarie da quelle primarie
    &.secondary {
        border-right: none;
        > li {
            background-color: $content-color;
            float: left;
            &:not(.feature-container) {
                width: 100%;
            }
            i, a:not(.action-link) {
                color: $body-color;
            }
            i {
                position        : absolute;
                top             : -1px;
                left            : -1px;
                bottom          : -1px;
                border-bottom   : solid 1px $sub-content-color;
                border-right   : solid 1px $sub-content-color;
                padding         : 0 35px;
                height          : 102.5%;

            }

            .fa {
                position: absolute;
                top: 50%;
                margin-top: -.5em;
                right: 20px;
                font-size: 1.2em;
                border: none;
            }
        }
        .category-title {
            background-color: $body-color;
            font-size: 1.25em;
            font-weight: bold;
            i, a:not(.action-link) {
                color: $content-color;
            }
            .fa {
                right: auto;
                left: 20px;
                color: $content-color;
            }
            a {

                border: solid 1px $content-color;
                border-bottom: none;
            }
        }
    }
}

// strutturo e stilizzo i moduli da aggiungere al progetto

.feature {
    @extend .clearfix;
    background-color: $content-color;
    font-size: .75em !important;
    .description, .quote, .add-feature {
        > * {
            line-height: 1.2em !important;
            color: #666;
            margin: 0 !important;
            padding: 12px !important;
        }
        .title {
            border-bottom: solid 1px $gray-lighter;
            font-weight: 800;
            background-color: $body-color;
            color: $content-color;
        }
        .info {

        }
    }
    
    .quote, .op {
        // padding: 14px !important;
        text-align: center;
        background-color: $content-color;
         * {
            color: $body-color;
        }
        input {
            width: 100%;
            border: none;
            background-color: $gray-lighter;
            padding: 5px 10px;
            font-size: 1.5em;
            text-align: right;
        }
        div {
            font-weight: bold;

            background-color: $content-color;
        }
        > a {
            border: none;
            padding: 0 !important;
            span.fa {
                font-weight: normal;
                position: relative;
                top: inherit;
                right: inherit;
                margin: inherit;
                // margin-top: 10px;
                width: 100%;
                padding: 30px 0 !important;
                font-size: 25px;
                color: $content-color;
            }
        }
    }
    .op {
        background-color: $body-color;
    }
    .row {
        border-bottom: solid 10px $sub-content-color;
        // float: left;
        > div {
            border-right: solid 1px $gray-lighter;
            &:last-of-type {
                border-right: none;
            }
        }
    }
}

// override stili quando nella lista category-title

.feature-container {
    border: solid 5px $sub-content-color;
    margin-left: 35px;
    margin-right: 0px !important;
    width: auto;
    .title {
        font-weight: 800;
        background-color: $content-color !important;
        color: inherit !important;
    }
    .feature {
         a {
            border: none;
            span.fa {
                color: $body-color !important;
                // background-color: $content-color !important;
            }
        }
    }
    .op {
        background-color: $content-color !important;
    }
}

/* @end Lista catalogo */

/* @group Stilizzazioni colonna sx */


.sub-content-container {
    background: $body-color;
}
.sub-content {
    margin: 10px;
}

.pagina-scheda .sub-content-container {
    background: $tab-default-color;
}

/* @end Stilizzazioni colonna sx */

/* @end  Lista principale (col sx)   */

/* @group Cat content (col dx) */

.project-navbar {
    @extend .navbar;
    @extend .text-center;
    margin    : 0;
    min-height: auto;
    background: $body-color;
    border    : none;
}

.cat-content {
    background-color: rgba($body-color, .2);
    padding         : 10px;
    margin          : 2px 0;
    height          : 650px;
    overflow        : auto;

    .editor,
    .project {
        height: 600px;
        text-align: left;
        // overflow: auto;
    }
}

.project-navbar-voice {
    @extend .col-xs-6;
    padding       : 10px 0;
    color         : #fff;
    opacity       : 0.5;
    cursor        : pointer;
    text-transform: uppercase;
    font-size     : 25px;

    &:hover {
        text-decoration: none;
        opacity        : 1;
        color          : #fff;
    }
    @media (max-width: $screen-sm ) {
        padding  : 5px 0;
        font-size: 0;

        .icon {
            font-size: 30px;
        }
    }

    &.active {
        opacity: 1;
    }

    &:first-child {
        border-right: solid 2px #fff;
    }
}
/* @end Cat content (col dx) */

/*--------------------------------*/
/* @end Struttura catalogo */
/*--------------------------------*/
